{% extends 'societysearch/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Password Change Done
{% endblock %}

<!-- link to css file for this page -->
{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/passwordchange.css' %}">
{% endblock %}

{% block body_block %}
<div class="content">
    <div class="jumbotron p-4">
        <div class="container">
            <h1>Password Changed</h1>
        </div>
    </div>
    
    <p> Your password has been changed successfully </p>
</div>
{% endblock %}