{% extends 'societysearch/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Registration
{% endblock %}

<!-- link to css file for this page -->
{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/societyadminsignup.css' %}">
{% endblock %}

{% block body_block %}
<div class="mainform">
    <h1> Society Admin Registration </h1>

    {% if registered %}
    <a href="{% url 'societysearch:index' %}">Return to homepage.</a><br />
    {% else %}
    
    <form id="SocietyAdminSignUpForm" method="{% url 'SocietyAdminSignUp' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p}}
        {{ profile_form.as_p}}
    
        <input type="submit" name="submit" value="Register" />
    </form>


{% endif %}
</div>
{% endblock %}