<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <title>
            {% block title_block %}
                SocietySearch
            {% endblock %}
        </title>

        {% block css_block %}
            gaada
        {% endblock %}
        <script src="https://kit.fontawesome.com/20c0e82598.js" crossorigin="anonymous"></script>
    </head>

    <body>

        <!--Header template-->
        <header class="header">
            <!-- Title -->
            <div id="title">
                <a href="{% url 'societysearch:index' %}" id="titlelink"><h1>Society Search</h1></a>
            </div>

            <!--Other links-->
            <ul class="nav-links">
                <div class="links">
                    <form class="navsearch" method=POST action="{%url 'search' %}">
                        {% csrf_token %}
                        <button class="topsearchbutton" type="submit"><i class="fa fa-search"></i></button>
                        <input type="search" class="topsearchbar" placeholder="Search" aria-label="Search" name="searched">
                        
                    </form>
                    {% if user.iS_societyAdmin %}
                        <li><a href="{% url 'add_society' %}">Add Society</a></li>
                    {% endif %}
                    <li><a href="{% url 'societysearch:about' %}">About</a></li>
                    <li><a href="{% url 'societysearch:account_page' %}">Account</a></li>
                    <li id="signin"><a href="{% url 'auth_login' %}">Sign In</a></li>
                    <li id="signout"><a href="{% url 'auth_logout' %}">Sign Out</a></li>
                </div>
            </ul>
        </header>

        <div class="maincontainer">
            <!--Page specific content below-->
            {% block body_block %}
            {% endblock %}
        </div>


        <!--Footer template-->
        <footer>
            <p>SocietySearch 2022</p>
        </footer>
    </body>

</html>