{% extends 'societysearch/base.html' %}
{% load static %}

{% block title_block %}
    Homepage
{% endblock %}

<!-- link to css file for this page -->
{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

    <!-- main content after header, before footer -->
    {% block body_block %}
    <div class="content">
        <div class="about-desc">
            <p>Searching for the correct society for you has never been easier!</p>
        </div>
    </div>
    <div class="searchbar">
        <form class="searchform" method=POST action="{%url 'search' %}">
                        {% csrf_token %}
                        <input type="search" placeholder="Search" aria-label="Search" name="searched">
                        <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>


    {% endblock %}