{% extends 'societysearch/base.html' %} {% load staticfiles %} {% block style_block %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<link rel="stylesheet" type="text/css" href="{% static " css/account_page.css " %}"> {% endblock %} {% block title_block %}Account Page{% endblock %} {% block body_block %}
<!-- Page Header -->
<div class="page-title-div">
    <p class="page-title">Account Details</p>
    Here you can view your Account details, add new society searchs or remove your existing ones.
</div>
<hr class="pb-1 page-title-break" />

<!-- Page Body -->
<div class="main-div">

    <!-- User Details -->
    <div class="details-div">
        <br />
        <strong>Username</strong> - {{ user }}<br />
        <strong>Email</strong> - {{ user.email }}<br />
        <br />
        <hr class="pb-1 details-break" />
    </div>

    <br />
    <div class="row" id="favourite games">

        <!-- REMOVE Favourite Games -->
        <div class="col-6 remove-games">
            <p class="game-header">Your current society searchs</p>
            <hr class="pb-1 remove" align="right" /> {% for tag in user.favourite_games.all %}
            <form id="remove tag" method="post" action="{% url 'account' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <span class="tag-name">{{ tag }}</span>
                <input type="hidden" name="type" value="delete" />
                <input type="hidden" name="tag" value="{{ tag.id }}" />
                <input type="hidden" name="user" value="{{ user }}" />
                <input type="submit" class="btn btn-outline-danger" name="submit" value="Delete" />
            </form>
            <br /> {% endfor %}
        </div>

        <!-- ADD Favourite Games -->
        <div class="col-6 add-games">
            <p class="game-header">Add more society searchs!</p>
            <hr class="pb-1 add" align="left" />
            <form id="game_tag_form" method="post" action="{% url 'account' %}" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group">
                    <select class="selectpicker" multiple data-live-search="true" name="fav_games">
                        {% for tag in game_tags %}
                        <option>{{ tag }}</option>
                        {% endfor %}
                    </select>
                </div>

                <input type="hidden" name="type" value="append" />
                <input type="hidden" name="user" value="{{ user }}" />
                <button type="submit" class="btn btn-outline-secondary">Add</button>
            </form>
        </div>
    </div>
</div>

{% endblock %} {% block script_block %}
<!-- Import custom JS here! -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script>
    $('selectpicker').selectpicker();
</script>
{% endblock %}