<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <title>
            {% block title_block %}
                SocietySearch
            {% endblock %}
        </title>

        {% block css_block %}
            gaada
        {% endblock %}
    </head>

    <body>

        <!--Header template-->
        <header class="header">
            <!-- Title -->
            <div id="title">
                <a href="{% url 'societysearch:index' %}"><h1>Society Search</h1></a>
            </div>

            <!--Other links-->
            <ul class="nav-links">
                <div class="links">
                    <li><a href="/">Search</a></li>
                    <li><a href="{% url 'societysearch:about' %}">About</a></li>
                    <li id="signin"><a href="/">Sign In</a></li>
                </div>
            </ul>
        </header>

        <div>
            <!--Page specific content below-->
            {% block body_block %}
            {% endblock %}
        </div>


        <!--Footer template-->
        <footer>
            <p>SocietySearch 2022</p>
        </footer>
    </body>

</html>