/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  background-color: #000;
  color: #fff;
}

.nav-links a{
  color: #fff;
}

/* mainText */
.title {
  font-size: 32px;
}

.links {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.links li:hover {
  background-color: #4c9e9e;
  border-radius: 5px;
  transition: 0.3s ease;
}

.links li {
  padding: 5px 14px;
  border: #fff;
  border-radius: 5px;
  border-style: none;
}

#signin {
  border: #fff;
  border-radius: 5px;
  border-style: solid;
}

/* main navbar styling */
.searchbar {
  padding: 50px 10px 0px 0px;
  width: 50%;
  margin: auto;
}
.searchbar  input[type=text]{
  height: 36pt;
  width: 100%;
  padding: 10px 20px;
  border: 1.5pt solid;
  border-radius: 30px;
  border-color: #003865;
  background-color: #e8f5ff;
}

/* main .content styling */
.content {
  padding: 2em;
}

.content h1 {
  font-size: 48px;
  padding: 10px 0px;
}

.about-desc {
  background-color: lightgray;
  /*size: auto 100px;*/
}

.about-desc p{
  padding: 0.7em;
}

/* footer styling*/
footer {
  text-align: center;
  padding: 10px;
  background-color: palegoldenrod;

  height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p{
  margin: auto;
  width: 50%;
  font-style: italic;
}